/* MAKING ALL FONT WITHIN PAGE ARIAL */

html * {
  font-family: Arial !important;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* PAGE RELATED CSS*/
.scroll_container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.scroll_area {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-direction: column;
}

#buttons {
  justify-content: center;
}

h1 {
  margin: 15px;
  text-align: center;
}

h2 {
  text-align: center;
}

.title {
  justify-content: center;
}

#choropleth {
  display: flex;
  flex-direction: column;
}

#choropleth_graph_area {
  display: flex;
  flex-direction: row;
}

#pie_1 {
  display: flex;
  flex-direction: column;
}

button {
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
