/* MAKING ALL FONT WITHIN PAGE ARIAL */

html * {
  font-family: Arial !important;
}

body {
  width: 100vw;
  min-width: 100vw;
  height: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* PAGE RELATED CSS*/
.scroll_container {
  /* width: 100vw; */
  height: 100%;
  padding: 0;
}

.scroll_area {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  height: 80vh;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section {
  display: flex;
  flex-direction: column;
}

#buttons {
  justify-content: center;
}

h1 {
  margin: 15px;
  text-align: center;
}

h2 {
  text-align: center;
}

.title {
  justify-content: center;
}

.footer {
  background-color: #ccccff;
  margin-top: auto;
}

#pie_1 {
  display: flex;
  flex-direction: column;
}

#pie_2 {
  display: flex;
  flex-direction: column;
}

#pie_chart_area {
  display: flex;
  flex-direction: row;
}

#gen_information {
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
}

.buttons {
  align-items: center;
  text-align: center;
}

button {
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 10px;
}

/* =================================================================CHOROPLETH================================================================*/
#choropleth {
  display: flex;
  flex-direction: column;
}

#choropleth_graph_area {
  display: flex;
  flex-direction: row;
}